body {  background-color: rgb(233, 39, 39);
    color: rgb(100, 228, 41);
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
    }
ol,ul {
    list-style: none;
    }
@font-face {
    font-family: "Harabara Bold";
    src: url("css/fonts/Harabara.eot");
    src:
    url("css/fonts/Harabara.woff") format("woff"),
    url("css/fonts/Harabara.otf") format("opentype"),
    url("css/fonts/Harabara.svg#filename") format("svg");
    }         
h1 { padding-top: 50px;
    }
main { padding-left: 2em;
    padding-right: 2em;
    margin-left: 170px;
    padding-top: 1em;        
    } 
.frontpage img{
    border:10px solid #ccc;
}
.about img{
    border:10px solid rgb(87, 16, 201);
}
.menu{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    font-family: 'Harabara Bold';
    }
.menu li{
    display:inline;
    }
.menu a{
    display:inline-block;
    padding:10px;
    text-decoration:none;
    background-color:rgb(211, 197, 208);
    color:rgb(15, 32, 32);
    }
.menu a:hover {
    background-color:#009;
    color:#fff;
    }
.resume{
    text-align:left;
}
.resume h1 {
    text-align: center;
}
.resume a {
    text-align: center;
}
.resume h3 {
    color: rgb(32, 179, 64);
    text-decoration-line: underline;
    }
.about p {
    padding: 10px;
    text-justify: auto ;
    color: rgb(206, 224, 45);

}
@media only screen and (max-width: 1024px) {
    #wrapper { width: 100%;
        min-width: 0;
        margin: 0;
        padding: 0;
        }
    body { margin: 0;
        padding: 0;
        }
    header {padding-top: 1px;
        }
    .menu nav { float: top ;
        width: auto;
        padding-left: 2em;
        }
    .menu nav a { padding: 0.2em;
        margin-left: 0.3em;
        float: top;
        width: 23%;
        }
        
    main { padding-top: 2.5em;
        padding-bottom: 2.5em;
        padding-left: 1em;
        padding-right: 1em;
        margin: 0;
        font-size: 90%;
        clear: both;
        } 
    p { padding: 0em 2em;
        }
    main ul { margin-left: 2em;
        } 
        
        }
